@import "variables";

:host {
  display: block;
  width: $modal-default-width;
  max-width: 100%;
}

.tab-body-wrapper {
  padding-top: 15px;
}

link-overlay, link-overlay.top-left {
  margin-bottom: 15px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-header {
  margin-bottom: 15px;
}